body{
    font-family: Arial;
    color: blue;

    .page{
        background-color: #fff;
        border-radius: 5px;
        margin: 40px auto;
        padding: 20px 40px 40px 40px;
        width: 600px;
    }

        input{
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        button{
            background-color: #2c89ba;
            border: none;
            border-radius: 5px;
            color: #fff;
            padding: 10px;
        }

    #flash-message{
        background-color: #2c89ba;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 10px 20px;

    }
}