{{#partial "content"}}
    {{#if username }}
        <h1>Welcome {{ username }} !</h1>

        <p>View <a href="/ideas">all course ideas</a>.</p>
    {{else}}
        <h1>Bonjour tout le mond</h1>
        <form action="/sign-in" method="post">
            <input type="text" placeholder="Your user name" name="username">
            <button>Sign In</button>
        </form>
    {{/if}}
{{/partial}}

{{> base.hbs}}